<!doctype html>
<html>
    <title>{{title}}</title>
    <body>
        <img src="/images/logo.jpg" style="width: 100px;" />
        <p style="border-bottom: solid 1px #000; margin-bottom: 10px; padding: 10px;">node-express</p>
        {{{body}}}
    </body>
</html>